<style>
    @font-face {
    font-family: 'Billabong';
    src: url('Fonts/Billabong.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: black;
    background-color: #222;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-box {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    padding: 20px;
    width: 350px;
    text-align: center;
}

h1 {
    font-family: 'Billabong';
    font-size: 50px;
    margin-bottom: 20px;
    color: #262626;
}

h3{
    margin-top: -12px;
    margin-bottom: 16px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    background-color: #fafafa;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #0095f6;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #0073e6;
}

.or {
    position: relative;
    margin: 20px 0;
    font-size: 13px;
    color: #8e8e8e;
}

.or::before,
.or::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 40%;
    height: 1px;
    background-color: #dbdbdb;
}

.or::before {
    left: 0;
}

.or::after {
    right: 0;
}

.social-login {
    margin: 10px 0;
}

.facebook-login {
    color: #385185;
    text-decoration: none;
    font-weight: bold;
}

.forgot-password {
    color: #00376b;
    font-size: 12px;
    text-decoration: none;
}

.sign-up-box {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    width: 350px;
    text-align: center;
    padding: 15px;
    margin-top: 10px;
}

.sign-up-box p {
    font-size: 14px;
    color: #262626;
}

.sign-up-box a {
    color: #0095f6;
    font-weight: bold;
    text-decoration: none;
}

.app-download {
    text-align: center;
    margin-top: 20px;
}

.app-buttons img {
    width: 135px;
    margin: 10px 5px;
}
</style>
